@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dot-1,
.dot-2,
.dot-3 {
  opacity: 0;
  animation: blink 1.5s infinite;
}
.dot-2 {
  animation-delay: 0.2s;
}
.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

.scroll-invisible::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}

.scroll-invisible {
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.fade-text {
  animation: fadeText 2s ease-in-out infinite;
}

@keyframes fadeText {
  0%, 100% { color: #bbb; }
  50% { color: #333; } /* zinc-500 */
}

.opacity-100 {
  opacity: 1;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}